<div class="container">
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>Jornadas y encuentros organizados por el Gabinete de Estudios Musicales</h3>
          <h4>I JORNADAS DE COMUNICACIÓN DE PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2001</h4>
          <h4><a href="">Programa y resúmenes</a></h4>
          <h4>
            <strong>Profesor Aldo Raggio.</strong>
          </h4>
          <p> Homenaje a uno de los compositores fundadores del Gabinete de Estudios Musicales.</p>
          <img src="../../../assets/jornadas/Pintura Aldo Raggio.jpg" alt="Profesor Aldo Raggio">
      </div>
  </div>
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>II JORNADAS DE COMUNICACIÓN DE PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2007 </h3>
          <a href="">Programa de jornada</a><br>
          <a href="">Programa y resumenes</a>
      </div>
  </div>
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>III JORNADAS DE COMUNICACIÓN DE PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2013 </h3>
          <a href="">Programa de jornada</a><br>
          <a href="">Resumenes</a><br>
          <a href="">Programa de conciertos</a>
      </div>
  </div>
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>FORO DE INVESTIGACIÓN, CREACIÓN Y EXTENSIÓN UNIVERSITARIA 2014</h3>
          <a href="">Programa del foro</a>
          <a href="">Más de dos décadas de investigación y creación musical</a>
      </div>
  </div>
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>IV JORNADAS DE COMUNICACIÓN DE PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2018</h3>
          <a href="">Programa de ponencias</a><br>
          <a href="">Resúmenes</a><br>
          <a href="">Programa de concierto</a><br>
          <a href="">Actas</a><br>
          <p>Concierto: <a href="">PAYADORESCO - BAGUALERO - QUEBRADEÑO. Piano: Ana María Portillo</a></p>
      </div>
  </div>
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>Conversatorio por el 26° aniversario del Gabinete de Estudios Musicales</h3>
          <img src="../../../assets/jornadas/conversatorio.jpg" alt="Conversatorio por el 26° aniversario del Gabinete de Estudios Musicales">
          <p><a href=""><strong>Ver videoconferencia</strong></a> con exposición de integrantes de los proyectos de
              investigación y creación. Actividades en tiempos de pandemia. Actividad de extensión hacia la comunidad
              desde el GEM
              21 de agosto del 2020</p>
      </div>
  </div>
  <div class="row pTopBot">
      <div class="col bgcGris">
          <h3>Conversatorio Música argentina para piano</h3>
          <img src="../../../assets/jornadas/flayer1PianoYoutube.jpg" alt="Conversatorio Música argentina para piano">
          <p>Este conversatorio se propuso como una actividad de extensión hacia la comunidad del GEM, alumnos del
              Profesorado y Licenciatura en Educación Musical y alumnos en general. Tuvo como objetivo principal
              expandirlos repertorios frecuentados y posibles de música argentina para piano, tanto ello sea académica
              como popular y ofrecer reflexiones respecto de su interpretación.</p>
          <p>28 de octubre de 2020</p>
      </div>
  </div>
</div>
