<h2>EDICIÓN CRÍTICA DE PIEZAS DE MÚSICA DE CÁMARA DE JOSÉ PAREDES</h2>
<h2>(La Rioja, 1958)</h2>
<h5><strong>Directora:</strong>Director: Mag. Ivan AMOROS</h5>
<h5>ivanamorosguitarrista@gmail.com</h5>
<h5><strong>Grupo principal:</strong></h5>
<h5>Mag. Carlos FLORIT SERVETI</h5>
<h5>Prof. Martín VALDEZ</h5>
<h5>Prof. Cristian FIOL</h5>
<h5><strong>Grupo de apoyo:</strong></h5>
<h5>Prof. Juan José OLGUÍN (col-lgaborador externo)</h5>
<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>

<h2>LAS ÓPERAS DE ARTURO BERUTTI. SEGUNDA ETAPA</h2>
<h5><strong>Directora:</strong>Dra. Fátima Graciela MUSRI</h5>
<h5>gmusri@gmail.com</h5>
<h5><strong>Co-directora:</strong>Esp. María Soledad VEGA</h5>
<h5>sirsove_50189@hotmail.com</h5>
<h5><strong>Grupo principal:</strong></h5>
<h5>Prof. Alicia Inés AMBI</h5>
<h5>Prof. Antonio David ARIAS</h5>
<h5>Mag. Ana María PORTILLO</h5>
<h5>Mag. Flavia Edith CARRASCOSA</h5>
<h5>Mirta Silvana MILAZZO</h5>
<h5>Dr. Adrián RÚSSOVICH</h5>
<h5>Esp. María Soledad VEGA</h5>
<h5><strong>Grupo de apoyo:</strong></h5>
<h5>Nadia Pamela VERA (Auxiliar de segunda categoría)</h5>
<h5>Prof. Melina Andrea MEDINA</h5>
<h5>Prof. Ana Cristina PONTORIERO (Becaria Conicet-UNSJ)</h5>
<h5>Lic. Rubén Alejandro FERNÁNDEZ (adscripto graduado)</h5>
<h5>Esp. Yanet Hebe GERICÓ (adscripta graduada)</h5>
<h5>Leonardo Gonzalo TELLO PERALTA (PAU)</h5>
<h5>Mag. Elvira Josefina ROVIRA (asesora externa)</h5>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/proy2020a2022/g beruti 1.jpg" alt="FOTO DEL PROYETO">
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/proy2020a2022/g beruti 2.jpg" alt="FOTO DEL PROYETO">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
                <img src="../../../assets/proy2020a2022/g beruti 3.jpg" alt="FOTO DEL PROYETO">
        </div>
        <div class="col-lg-5">
            <img src="../../../assets/proy2020a2022/g beruti 4.jpg" alt="FOTO DEL PROYETO">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
                <img src="../../../assets/proy2020a2022/g beruti 5.jpg" alt="FOTO DEL PROYETO">
        </div>
        <div class="col-lg-7">
            <img src="../../../assets/proy2020a2022/g beruti 6.jpg" alt="FOTO DEL PROYETO">
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
                <img src="../../../assets/proy2020a2022/g beruti 8.jpg" alt="FOTO DEL PROYETO">
        </div>
        <div class="col-lg">
            <img src="../../../assets/proy2020a2022/g beruti 9.jpg" alt="FOTO DEL PROYETO">
        </div>
    </div>
</div>
<h2>Resumen</h2>
<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>
<h2>Conciertos</h2>
<h5>Concierto con obras de Arturo Berutti. Auditorio Juan Victoria, 19/09/2019.  <a href="http://www.unsj.edu.ar/home/noticias_detalles/4664/2">Un concierto esencial para conocer a Arturo Berutti</a></h5>
<h5>Ver videos en: <a href="">## AGREGAR VIDEOS ##</a></h5>
<h2>Publicaciones</h2>
<h5>Articulo de Elvira Josefina Rovira</h5>
<h5><a href="http://www.revista.unsj.edu.ar/?p=4221">¿Quién fue Arturo Berutti? Un músico sanjuanino por descubrir</a></h5>
<h5>Articulo de Fátima Graciela Musri: El Auditorio "Juan Victoria" en la vida cultural sanjuanina, en revista Memoria y Derechos, Año XV Nº 15 - 2020; pp. 96-98 <a href="https://www.gem.unsj.edu.ar/pdf%20Revista%20Memoria%20y%20Derechos%20N%C2%B015">Memoria y Derechos</a></h5>
<h2>Congresos</h2>
<h3>Congreso Argentino de Musicol-lgogía: Ponencias del equipo</h3>
<a href="https://www.youtube.com/watch?v=IUR1wSVEoyI">Introducción: Estilos musicales de óperas de Arturo Berutti</a>
<a href="https://www.youtube.com/watch?v=agZjuFmPJyw">Vendetta | Congreso Argentino de Musicol-lgogía 2020/21</a>
<a href="https://www.youtube.com/watch?v=1DIgdWP5AQM">Pampa Acto II | Congreso Argentino de Musicol-lgogía 2020/21.</a>
<a href="https://www.youtube.com/watch?v=W3IhY1Ax118">Yupanki | Congreso Argentino de Musicol-lgogía 2020/21</a>
<h2>I Jornadas de historia regional</h2>
<img src="../../../assets/proy2020a2022/g beruti 7.jpg" alt="##FOTO##">

<h2>MÚSICA PARA PIANO A CUATRO MANOS Y DOS PIANOS DE COMPOSITORES LATINOAMERICANOS: RELEVAMIENTO Y SISTEMATIZACIÓN CON FINES PEDAGÓGICOS</h2>
<h5><strong>Directora:</strong>Mag. Ana María PORTILLO
    </h5>
<h5>portilloanama@gmail.com</h5>
<h5><strong>Grupo principal:</strong></h5>
<h5>Prof. Beatriz YACANTE (categoría IV Investigación)</h5>
<h5>Prof. Mariana GARROTTI</h5>
<h5>Prof. Andrea ZANNI</h5>
<h5>Prof. Ana Paula OYOLA (Ayudante de Primera categoría)</h5>
<h5><strong>Grupo de Apoyo: Alumnas adscriptas:</strong></h5>
<h5>Claudia Vanesa PEREYRA GUZMÁN</h5>
<h5>Rosy Lizell CLAROS ARANDIA</h5>
<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>

<h2>CREACION DE UN CORPUS MUSICAL ARTISTICO DE APLICACIÓN PEDAGOGICA</h2>
<h5><strong>Directora:</strong>Mag. Patricia BLANCO</h5>
<h5>pblanco335@gmail.com</h5>
<h5><strong>Co-directora:</strong>Mag. Mónica LUCERO</h5>
<h5><strong>Grupo principal:</strong></h5>
<h5>Prof. Guillermo Miguel BLANCO</h5>
<h5>Prof. Aída Fátima Del CID</h5>
<h5>Prof. Fernando RECIO TEJADA.</h5>
<h5><strong>Grupo de apoyo:</strong></h5>
<h5>Prof. Guillermo BARROS (Adscripto graduado)</h5>
<h5>Técnico Sergio MANGANELLI</h5>
<h5>Técnico informático Ismael Alfredo ARECHE</h5>
<h5>Prof. Gladys Cristina PONTORIERO</h5>
<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>
<h2>Produccion musical del proyecto</h2>
<a href="https://www.youtube.com/watch?v=dYEJnzQffCk">Arreglo e interpretación musical por alumnos de Proyecto</a>

<h2>COGNICIÓN MUSICAL EN LA TRANSCRIPCIÓN RÍTMICA DE LAS CHACARERAS. IMPLICANCIAS PEDAGÓGICAS.</h2>
<h5><strong>Directora:</strong>Mag. Gabriela Alicia ORTEGA</h5>
<h5>gabalortega@yahoo.com</h5>
<h5><strong>Co-directora:</strong>Prof. María Inés GRAFFIGNA</h5>
<h5><strong>Grupo principal:</strong></h5>
<h5>Lic. María Isabel OVIEDO</h5>
<h5>Prof. Carlos Mauricio CELAYES POLIZOTO</h5>
<h5>Prof. Mirta Adriana FERNÁNDEZ</h5>
<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>

<h2>INCLUSIÓN EDUCATIVA EN EL DEPARTAMENTO DE MÚSICA DE LA FFHA - UNSJ: PRÁCTICAS INSTITUCIONALES Y PEDAGÓGICAS EN LA CARRERA: INTÉRPRETE MUSICAL DEL NIVEL PRE-UNIVERSITARIO. UN ESTUDIO DE CASOS</h2>
<h5><strong>Directora:</strong>Mag. Stella Maris MAS</h5>
<h5>masstella@hotmail.com</h5>
<h5><strong>Co-directora:</strong>Esp. María Teresa BLANQUER</h5>
<h5><strong>Grupo principal:</strong></h5>
<h5>Lic. MORENO PALACIOS, Alejandra Lucia Docente - investigadora</h5>
<h5>PEDROZO DE LA VEGA, Romina Alejandra Docente - investigadora</h5>
<h5>Prof. MERCADO, Julio Alejandro Manuel Docente - investigador</h5>
<h5><strong>Grupo de apoyo:</strong></h5>
<h5>Col-lgaboradora-Asesora: Esp. GERICO, Yanet Hebe</h5>
<h5>Col-lgaboradora-Asesora: Dra. MARTÍNEZ DÁVILA, Liliana Beatríz</h5>
<h5>Adscripta graduada: Esp. ARREDONDO, Cristina Beatriz</h5>
<h5>Adscripto graduado: Prof. ANDINO, Gerardo Ariel</h5>
<img src="../../../assets/proy2020a2022/f Flyer Momusi.jpg" alt="#FOTO#">
<h5><strong>5° Encuentro de Música y Educación del MOMUSI en San Juan </strong>- Región Cuyo bajo el lema: "Para pensar, repensar, compartir e intercambiar experiencias" en adhesión al Año internacional del Sonido - International Year of Sound (IYS 2020-21). Departamento de Música de la FFHA - UNSJ en conjunto con el Área de Supervisión de Educación Musical del Ministerio de Educación de la provincia. 11 y 12 de noviembre de 2020; modalidad virtual disponible en los enlaces abajo mencionados.</h5>
<h5>Presentación de Trabajos de investigación. Expositores: entre otros Prof. Gerardo Andino, Prof. Romina Pedrozo de la Vega (San Juan) que expusieron una ponencia denominada: «Inclusión de personas con Discapacidad en el Ámbito pedagógico musical de la UNSJ». Presenta: Lic. Alejandra Moreno.</h5>
<h5>Mesa debate: "Impacto del confinamiento en el proceso de enseñanza y de aprendizaje” Coordinado por la Esp. María Teresa Blanquer disponible en <a href="https://www.youtube.com/watch?v=COK0voZJiHw&feature=youtu.be">https://youtu.be/ndRqSbA6_Gc</a></h5>
<h5>Conversatorio para celebrar el 26° aniversario del Gabinete de Estudios Musicales. Actividades en tiempos de pandemia. Organizado por el Gabinete de Estudios Musicales, Dep. de Música, FFHA, UNSJ. 21 de agosto de 2020; modalidad virtual

Exposición del Proyecto de Investigación del GEM. Denominación: “Inclusión educativa en el Departamento de Música de la FFHA - UNSJ: Prácticas institucionales y pedagógicas en la carrera: Intérprete musical del Nivel Pre-Universitario. Un estudio de casos” Expositoras: Mg. Stella Mas y Esp. María Teresa Blanquer disponible en <a href="https://youtu.be/COK0voZJiHw">https://youtu.be/COK0voZJiHw</a></h5>

<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>

<h2>LA DIMENSIÓN EMOCIONAL EN LA CONFIGURACIÓN DE LA IDENTIDAD DOCENTE Y LA CONSTITUCIÓN DE LAS SUBJETIVIDADES DURANTE EL TRAYECTO DE FORMACIÓN DEL PROFESORADO UNIVERSITARIO DE MÚSICA</h2>
<h5><strong>Directora:</strong>Prof. Carina Susana SILVA</h5>
<h5>carinasusanasilva@gmail.com</h5>

<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>
