<div class="container text-center _titulos1 _pagPrincipal">
  <div class="row">
      <div class="col">
          <label class="labelTitulo1" for="idRadioT2-1">
              <h3>PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2016 - 2017</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos2" id="idRadioT2-1">
          <div class="dNone" id="idTitulo2-1">
              <div class="col">
                  <div class="_contenidos1">
                      <app-proyectos-de2016a2017></app-proyectos-de2016a2017>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT2-2">
              <h3>PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2018 - 2019</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos2" id="idRadioT2-2">
          <div class="dNone" id="idTitulo2-2">
              <div class="col">
                  <div class="_contenidos1">
                      <app-proyectos-de2018a2019></app-proyectos-de2018a2019>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT2-3">
              <h3>PROYECTOS DE INVESTIGACIÓN Y CREACIÓN 2020 - 2022</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos2" id="idRadioT2-3">
          <div class="dNone" id="idTitulo2-3">
              <div class="col">
                  <div class="_contenidos1">
                      <app-proyectos-de2020a2022></app-proyectos-de2020a2022>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
