<h3>Vinculaciones con otras entidades</h3>
<div class="bgcGris pTopBot">
    <p>
        Grupo de Trabajo "Musica y Periódicos" de la Asociación Regional para Latinoamérica y el Caribe de la
        International Musicological Society (GTMP ARLAC-IMS)
    </p>
    <a href="https://www.youtube.com/channel/UCyHBOEmhoeDcCKMy_kjdjSw">Ver videos en canal de YouTube</a>
</div>
<div class="bgcGris pTopBot">
    <p>
        Rapporti Italo Ibero Americani: Il teatro Musicale. Direttore: Dott. Annibale Enrico Cetrangolo
    </p>
    <a href="https://www.youtube.com/channel/UCdyTa1AFUbn2RtsxIRi61yA/featured">Study Group of IMS</a>
</div>
<div class="bgcGris pTopBot">
    <p>
        Istituto per lo studio della Musica Latino Americana
    </p>
    <a href="https://www.imla.it/index.php?L=esp">(Imla)</a>
</div>
<div class="bgcGris pTopBot">
    <p>
        Asociación Argentina de Musicología
    </p>
    <a href="">(AAM)</a>
</div>
<div class="bgcGris pTopBot">
    <p>
        Instituto Nacional de Musicología "Carlos Vega"
    </p>
    <a href="">AGREGAR VINCULO</a>
    <h3>Difusión del conocimiento musicológico</h3>
    <img src="" alt="Difusión del conocimiento musicológico">
    <p>Esta conferencia es publicación de resultados de la tesis del Doctorado en Artes "Universidad Nacional de
        Cordoba" obtenido por Fátima Graciela Musri.</p>
    <p>Link a conferencia: <a href="
        https://www.youtube.com/c/InstitutoNacionaldeMusicologiaCarlosVega">Instituto Nacional de Musicologia Carlos
            Vega</a></p>
    <p>Otras referencias:<a href="https://inmcv.cultura.gob.ar/actividad/fatima-graciela-musri/"> Música y radio en San
            Juan (1930 - 1944)</a></p>
</div>
