<h2>Tensiones y desafíos en los diversos escenarios didáctico-musicales</h2>
<h4><strong>Directora:</strong> Mag. Stella Maris MAS
</h4>
<h4>masstella@hotmail.com</h4>
<h4><strong>Co-directora:</strong> Lic. María Teresa BLANQUER
</h4>
<h4>marite_b@yahoo.com.ar</h4>
<app-proyectos-de2016a2017-p1></app-proyectos-de2016a2017-p1>

<h2>Estructuras sonoras en el tiempo</h2>
<h4><strong>Directora:</strong>Mag. Gabriela ORTEGA</h4>
<h4>gabalortega@yahoo.com.ar</h4>
<h4><strong> Co-directora:</strong>Prof. María Inés GRAFFIGNA</h4>
<h4>mariainesgraffigna@yahoo.com.ar</h4>
<app-proyectos-de2016a2017-p2></app-proyectos-de2016a2017-p2>

<h2>Interpretaciones performativas expresivas del discurso musical.</h2>
<h4><strong>Directora:</strong>Magister Patricia BLANCO</h4>
<h4>pblanco788@hotmail.com</h4>
<h4><strong>Co-directora:</strong>Magister Mónica G. LUCERO</h4>
<h4>moni_lucero@hotmail.com</h4>
<app-proyectos-de2016a2017-p3></app-proyectos-de2016a2017-p3>

<h2>Los "Aires Nacionales" de Arturo Berutti - Ampliación</h2>
<h4><strong>Directora:</strong> Dra. Fátima Graciela MUSRI</h4>
<h4>gmusri@outlook.com</h4>
<h4><strong>Co-directora:</strong> Mg. Elvira Josefina ROVIRA</h4>
<h4>elvirovira@gmail.com</h4>
<app-proyectos-de2016a2017-p4></app-proyectos-de2016a2017-p4>

<h2>Las prácticas docentes en la formación profesional de los educadores musicales Intervenciones educativas musicales en el contexto del aula</h2>
<h4><strong>Directora:</strong>Lic. Carina Susana SILVA</h4>
<h4>carinasusanasilva@gmail.com</h4>
<h4><strong>Co-directora:</strong>Prof. María Soledad VEGA</h4>
<h4>sirsove_50189@hotmail.com</h4>
<app-proyectos-de2016a2017-p5></app-proyectos-de2016a2017-p5>

<h2>GUITARRA CON GUITARRAS
    Creación de obras musicales para guitarra solista con acompañamiento de orquesta de guitarras a través del arreglo, la adaptación, la transcripción y la interpretación.</h2>
<h4><strong>Director:
    </strong> Prof. Juan José OLGUÍN</h4>
<h4>juanjoseolguink@hotmail.com</h4>
<app-proyectos-de2016a2017-p6></app-proyectos-de2016a2017-p6>

<h2>Creación de un método de iniciación en flauta traversa a través de la integración de alumnos en prácticas de conjunto. Etapa 2. AMPLIACIÓN</h2>
<h4><strong>Director:</strong>Prof. Renato LIGUTTI</h4>
<h4>ligutti@speedy.com.ar</h4>
<h4><strong>Co-director:</strong>Mg. Carlos Emilio FLORIT SERVETTI</h4>
<h4>carloseflorit@hotmail.com</h4>
<app-proyectos-de2016a2017-p7></app-proyectos-de2016a2017-p7>

<h2>Encuadre y reformulación organizacional del Nivel Preuniversitario del Departamento de Música de la FFHA y Artes para su inclusión en la Estructura orgánico-funcional de la UNSJ</h2>
<h4><strong>Director:</strong>Prof. César Alejandro SÁNCHEZ</h4>
<h4>cesaralejandrosc@gmail.com</h4>
<h4><strong> Co-directora:</strong>Mg. Stella Maris MAS</h4>
<h4>masstella@hotmail.com</h4>
<app-proyectos-de2016a2017-p8></app-proyectos-de2016a2017-p8>

<h2>MÚSICA DE MUJERES La obra de las compositoras Elsa Calcagno y Lia Cimaglia Espinosa</h2>
<h4><strong>Directora: </strong>Mg. Flavia CARRASCOSA</h4>
<h4>flaviacarpianista@gmail.com</h4>
<h4><strong>Co-director:</strong>Lic. Alberto Sebastián TRIMELITI</h4>
<h4>atrimeliti@gmail.com</h4>
<app-proyectos-de2016a2017-p9></app-proyectos-de2016a2017-p9>
