<h2>Libro</h2>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="../../../assets/publicaciones/libro1.jpg" alt="FOTO">
        </div>
        <div class="col-lg">
            <h5>Publicación de Rubén Fernández como resultado de su tesina de grado para obtener el título de Licenciado en Educación Musical del Departamento de Música (FFHA, UNSJ), dirigido por Fátima Graciela Musri en el marco del Proyecto La guitarra en la historia de la música de San Juan (1952-1966). Se editó por la Editorial de la Facultad de Filosofía, Humanidades y Artes (EFFHA) en 2010.</h5>

            <h5>Exploró la metodología de la enseñanza-aprendizaje y las actividades artísticas realizadas en los conservatorios de San Juan a mediados del siglo XX. Esta investigación contribuye a la historia local de la música trayendo al presente aportes que, si bien estaban en la oscuridad de la memoria cultural, fueron significativos en la formación de músicos y docentes provinciales.</h5>

            <h5><a href="">CONTACTO</a></h5>
            <h5>rub_alefer@hotmail.com</h5>
            <h5>Editorial FFHA</h5>
            <h5>ISBN: 978-950-605-644-5</h5>
            <h5>San Juan</h5>
            <h5>2010</h5>
        </div>
    </div>
</div>
