<div class="container text-center _titulos1 _pagPrincipal">
  <div class="row">
      <div class="col">
          <label class="labelTitulo1" for="idRadioT3-1">
              <h3>Compact Disc</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-1">
          <div class="dNone" id="idTitulo3-1">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-compact-disc1></app-publicaciones-compact-disc1>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-2">
              <h3>Libro</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-2">
          <div class="dNone" id="idTitulo3-2">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-libro1></app-publicaciones-libro1>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-3">
              <h3>Libro</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-3">
          <div class="dNone" id="idTitulo3-3">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-libro2></app-publicaciones-libro2>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-4">
              <h3>Libro</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-4">
          <div class="dNone" id="idTitulo3-4">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-libro3></app-publicaciones-libro3>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-5">
              <h3>Partitura</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-5">
          <div class="dNone" id="idTitulo3-5">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-partitura-digital1></app-publicaciones-partitura-digital1>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-6">
              <h3>Partitura</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-6">
          <div class="dNone" id="idTitulo3-6">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-partitura1></app-publicaciones-partitura1>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-7">
              <h3>Partituras digitales</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-7">
          <div class="dNone" id="idTitulo3-7">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-partitura2></app-publicaciones-partitura2>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-8">
              <h3>Partitura</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-8">
          <div class="dNone" id="idTitulo3-8">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-partitura3></app-publicaciones-partitura3>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-9">
              <h3>Partitura</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-9">
          <div class="dNone" id="idTitulo3-9">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-partitura4></app-publicaciones-partitura4>
                  </div>
              </div>
          </div>
          <label class="labelTitulo1" for="idRadioT3-10">
              <h3>Partitura</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos3" id="idRadioT3-10">
          <div class="dNone" id="idTitulo3-10">
              <div class="col">
                  <div class="_contenidos1">
                      <app-publicaciones-partitura5></app-publicaciones-partitura5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
