<h2>Libro</h2>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="../../../assets/publicaciones/libro2.jpg" alt="FOTO">
        </div>
        <div class="col-lg">
            <h5>Publicación del Proyecto Reconstrucción de los espacios socio-musicales en San Juan (1944 - 1970)
                desarrollado entre 2003 y 2005 y dirigido por Fátima Graciela Musri en el Gabinete de Estudios
                Musicales. Se editó en la Editorial de la Facultad de Filosofía, Humanidades y Artes en 2007. Cuenta con
                capítulos de Elvira Rovira, Graciela Porras, Alicia Ambi, Antonio Arias y Fátima Graciela Musri.</h5>

            <h5>El propósito de poner en valor la historia de la música local llevó a investigar las prácticas musicales
                del pasado en varios ámbitos sociales de la ciudad de San Juan. Se abarcó el lapso entre el catastrófico
                sismo de 1944, que interrumpió su vida cotidiana e institucional, hasta la inauguración del Auditorio
                “Juan Victoria” en 1970 y la creación de la Orquesta Sinfónica de la Universidad Nacional de San Juan en
                1974. Se indagó la circulación de géneros populares y académicos, prestando mayor atención a los
                circuitos de radiodifusión y de enseñanza-aprendizaje.</h5>

            <h5>El libro tiene en principio una intención didáctica, puesto que va dirigido en primer lugar a nuestros
                alumnos de música, con la esperanza de que les sea útil en el aprendizaje y ejercicio de la
                investigación musicol-lgógica y en el abordaje de la Historia de la Música local; en segundo término a los
                músicos y sus descendientes que se encontraron involucrados en el proceso histórico-musical que aquí
                estudiamos; por último a todos los interesados en recordar y revalorizar el patrimonio cultural cuyano.
            </h5>

            <h5><strong>CONTACTO</strong></h5>
            <h5>gmusri@outlook.com</h5>
            <h5>Editorial FFHA</h5>
            <h5>ISBN: 950-605-462-5</h5>
            <h5>San Juan</h5>
            <h5>2006</h5>
        </div>
    </div>
</div>
