<div class="container text-center _titulos1 _pagPrincipal">
  <div class="row">
      <div class="col">
          <label class="labelTitulo1" for="idRadioT4-1">
              <h3>Vinculaciones</h3>
          </label>
          <input class="dNone" type="radio" name="radioTitulos4" id="idRadioT4-1">
          <div class="dNone" id="idTitulo4-1">
              <div class="col">
                  <div class="_contenidos1">
                      <app-vinculaciones-contenido1></app-vinculaciones-contenido1>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
