<ol>
  <li class="pTopBot">
      Proveer un marco institucional en concordancia con las políticas y prioridades en investigación científica pautadas por la Universidad Nacional de San Juan.
  </li>
  <li class="pTopBot">
      Ampliar los lineamientos y acciones sostenidos por el Gabinete de Estudios Musicales desde su creación.
  </li>
  <li class="pTopBot">
      Generar el marco apropiado para la articulación entre la creación musical y la investigación científica en misica.
  </li>
  <li class="pTopBot">
      Favorecer la interdisciplinariedad en la investigación y en la creación artística.
  </li>
  <li class="pTopBot">
      Propiciar espacios y acciones de creación e investigación musical dentroy fuera del Gabinete.
  </li>
  <li class="pTopBot">
      Asesorar a investigadores y creadores acerca de las normativas establecidas por el Estatuto Universitario, el Consejo Superior, el Consejo de Investigaciones Cientificas, Técnicas y de Creación Artística (CICITCA) y el Consejo Directivo de la Facultad deFilosofía, Humanidades y Artes.
  </li>
  <li class="pTopBot">
      Ejecutar y concluirlas acciones diseñadas e iniciadas en el Gabinete de Estudios Musicales (GEM) para organizar y preservar unArchivo Musical con la documentación relevada y generada por los proyectos de investigación y creación desarrollados en su seno (grabaciones, partituras, fotografías, videos, libros, publicaciones y otros).
  </li>
  <li class="pTopBot">
      Promover la vinculación con otras instituciones publicas y privadas de investigación y creación artística.
  </li>
  <li class="pTopBot">
      Aumentar la formación de recursos humanos mediante planes ejecutados a través de los proyectos y la implementación de carreras de posgrado afines.
  </li>
  <li class="pTopBot">
      Favorecerla transferencia y propiciar la publicación de los resultados de proyectos realizados y aprobados en el marco del Gabinete, promoviendo vinculaciones con editoriales internas y externas a la Universidad (para los productos impresos) y sellos grabadores (para registros de audioy video).
  </li>
  <li class="pTopBot">
      Estimular la divulgación de los resultados de proyectos realizados en el marco del Gabinete, mediante la organización de conciertos, concursos, festivales, encuentros, jornadas, talleres y otros.
  </li>
</ol>
