<div class="container">
  <div class="row">
      <div class="col-lg">
          <img src="../../../assets/autoridades/Graciela Musri.jpg" alt="Dra. Fatima Graciela MUSRI">
          <p><b>Coordinadora:</b></p>
          <p>Dra. Fatima Graciela MUSRI</p>
      </div>
      <div class="col-lg">
          <img src="../../../assets/autoridades/Flavia Carrascosa.jpg" alt="Mag. Flavia Edith CARRASCOSA">
          <p><b>Vice-Coordinadora</b></p>
          <p>Mag. Flavia Edith CARRASCOSA</p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg">
          <img src="../../../assets/autoridades/Grabriela Ortega.jpg" alt="Mag. Gabriela Alicia ORTEGA">
          <p><b>Consejero consultiva</b></p>
          <p>Mag. Gabriela Alicia ORTEGA</p>
      </div>
      <div class="col-lg">
          <img src="../../../assets/autoridades/Ivan Amoros.jpg" alt="MAG. Ivan AMORÓS">
          <p><b>Consejero consultivo</b></p>
          <p>MAG. Ivan AMORÓS</p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg">
          <img src="../../../assets/autoridades/Patricia Blanco.jpg" alt="CMag. Patricia BLANCO">
          <p><b>Consejero consultiva</b></p>
          <p>CMag. Patricia BLANCO</p>
      </div>
      <div class="col-lg">
          <img src="../../../assets/autoridades/Soledad Vega.jpg" alt="Lic. María Soledad VEGA">
          <p><b>Consejero consultiva</b></p>
          <p>Lic. María Soledad VEGA</p>
      </div>
  </div>
</div>
