<h3>Año 2021</h3>
<h3>PROYECTO DE EXTENSIÓN UNIVERSITARIA:</h3>

<h2>Secciones de trabajo para la grabación de los videos</h2>
<div class="container galeriaFotos">

  <div class="row">
    <div class="col-lg-3">
      <h6>Leo Tello y Ana Cristina Pontoriero</h6>
      <img src="../../../assets/agendaSecionFotos/Leo tello y cristina pontoriero 1.jpg"
        alt="Leo Tello y Ana Cristina Pontoriero">
    </div>
    <div class="col-lg-9">
      <h6>Yanet Gericó, Carina Silva, Ana Cristina Pontoriero y Leo Tello</h6>
      <img src="../../../assets/agendaSecionFotos/yanet gerico carina silva cristina pontoriero y leo tello 4.jpg"
        alt="Yanet Gericó, Carina Silva, Ana Cristina Pontoriero y Leo Tello">
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <h6>Cristina Pontoriero y Yanet Gericó</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/cristina pontoriero y yanet gerico 2.jpg"
          alt="Ana Cristina Pontoriero y Yanet Gericó"></div>
    </div>
    <div class="col-lg">
      <h6>Nadia Vera y Soledad Vega</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/nadia vera y soledad vega 3.jpg"
          alt="Nadia Vera y Soledad Vega"></div>
    </div>
    <div class="col-lg">
      <h6>Carina Silva</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/carina silva 5.jpg" alt="Carina Silva"></div>
    </div>
    <div class="col-lg">
      <h6>Ivan Amoros y Leo Tello</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/ivan amoros y leo tello 6.jpg"
          alt="Ivan Amoros y Leo Tello"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <h6>Ivan Amoros, Martín Valdez y Cristian Fiol</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/ivan amoros martin valdez cristian fiol 7.jpg"
          alt="Ivan Amoros, Martín Valdez y Cristian Fiol"></div>
    </div>
    <div class="col-lg-4">
      <h6>Adriana Fernández y Gabriela Ortega</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/adriana fernandez y gabriela ortega 8.jpg"
          alt="Adriana Fernández y Gabriela Ortega"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <h6>Mariana Garroti</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/Mariana Garroti 9.jpg" alt="Mariana Garroti"></div>
    </div>
    <div class="col-lg">
      <h6>Ana Portillo</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/ana portillo 10.jpg" alt="Ana Portillo"></div>
    </div>
    <div class="col-lg">
      <h6>Claudia Pereyra</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/claudia pereyra 11.jpg" alt="Claudia Pereyra"></div>
    </div>
    <div class="col-lg">
      <h6>Teresa Blanquer y Cristina Arredondo</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/teresa blanquer y cristina arredondo 15.jpg"
          alt="Teresa Blanquer y Cristina Arredondo"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
          <h6>Proyecto de Patricia Blanco</h6>
    <div class="col-lg"><img src="../../../assets/agendaSecionFotos/proyecto de patricia blanco 13.jpg"
        alt="Proyecto de Patricia Blanco"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">
      <h6>Patricia Blanco y Fernando Recio, con Leo Tello</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/patricia blanco y fernando recio 14.jpg"
          alt="Patricia Blanco y Fernando Recio, con Leo Tello"></div>
    </div>
    <div class="col-lg-7">
      <h6>Aída del Cid y Cristina Gladys Pontoriero</h6>
      <div class="col-lg"><img src="../../../assets/agendaSecionFotos/aida del cid y cristina g pontoriero 12.jpg"
          alt="Aída del Cid y Cristina Gladys Pontoriero"></div>
    </div>
  </div>
</div>
