<h3>“La investigación y creación en el Gabinete de Estudios Musicales”</h3>

<p>
    Investigadoras del GEM a cargo de la planificación y organización del ciclo de videos: Ana Cristina PONTORIERO y Yanet Hebe GERICÓ. Servicios generales: Leonardo TELLO, a cargo de la filmación y edición de los videos.
</p>
<p>
    Ciclo de videos de divulgación científica programado con equipos y recursos humanos del Gabinete de Estudios Musicales (GEM), con solicitud de aval a las Secretarías de Extensión Universitaria y de Investigación y Creación de la FFHA. Se transmitirá a través del canal de YouTube oficial del GEM,ddurante el mes de noviembre de 2021, y quedará a disposición en otras plataformas (sitio web oficial del GEM) y redes sociales (página oficial de Facebook).
</p>
