<div class="container text-center footer1">
  <div class="row">
    <div class="col">
      <a href="https://www.facebook.com/GEM.UNSJ">
        <div>
          <img class="logo" src="../../../assets/footer/LogoFacebook1.png" alt="Facebook IEM" />
          <p><b>Nuestra página de Facebook</b></p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="https://www.youtube.com/channel/UCE6NUm47szeglFZ2yUWflxw/featured">
        <div>
          <img class="logo" src="../../../assets/footer/LogoYoutube1.png" alt="Youtube IEM" />
          <p><b>Nuestro canal de Youtube</b></p>
        </div>
      </a>
    </div>
  </div>
</div>
