<h2>Compact Disc</h2>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="../../../assets/publicaciones/compact disc1.jpg" alt="Compact Disc">
        </div>
        <div class="col-lg">
            <h5>
                Producción y grabación musical del Proyecto La guitarra en la historia de la música en San Juan.
                (1952-1966), desarrollado entre 2008 y 2010 en el Gabinete de Estudios Musicales y dirigido por Fátima
                Graciela Musri.
            </h5>
            <h5>
                Reúne una colección de canciones de Carlos Montbrun Ocampo y José Luis Dávila en arreglos de Alejandro
                Dávila (guitarra) y Patricia Blanco (piano). Cuenta con la interpretación vocal de Alicia Inés Ambi y
                Natalia Dávila:
            </h5>
            <h5>
                <ol>
                    <li>Carlos Montbrun Ocampo. Entre mar y cordillera. (cueca)</li>
                    <li>José Luis Dávila. Zamba del río (zamba)</li>
                    <li>Carlos Montbrun Ocampo. Gris (vals)</li>
                    <li>Carlos Montbrun Ocampo. La guardia del monte (triunfo)</li>
                    <li>José Luis Dávila. La del Villicum (zamba)</li>
                    <li>Carlos Montbrun Ocampo El receloso (gato)</li>
                    <li>José Luis Dávila. Río otoñal (zamba)</li>
                    <li>Carlos Montbrun Ocampo. Mi sanjuanina (cueca)</li>
                    <li>José Luis Dávila. La del viento zonda (zamba)</li>
                    <li>Carlos Montbrun Ocampo. El puente del amor (tonada)</li>
                    <li>Carlos Montbrun Ocampo. A unos ojos (vals)</li>
                    <li>José Luis Dávila. La del chipical (zamba)</li>
                    <li>José Luis Dávila. Ña Dolores (cueca)</li>
                </ol>
            </h5>
            <h5><a href=""> CONTACTO </a>
            </h5>
            <h5>
                gem@ffha.unsj.edu.ar
            </h5>
        </div>
    </div>
</div>
