<h2>LAS ÓPERAS DE ARTURO BERUTTI</h2>
<h5><strong>Directora:</strong>Dra. Fátima Graciela MUSRI</h5>
<h5>gmusri@outlook.com</h5>
<h5><strong>Co-directora:</strong>Mag. Elvira Josefina ROVIRA</h5>
<h5>marite_b@yahoo.com.ar</h5>
<h5><strong>Investigadores</strong></h5>
<h5> AMBI, Alicia Inés</h5>
<h5>ARIAS, Antonio David</h5>
<h5>MILAZZO, Mirta Silvana</h5>
<h5>RÚSSOVICH, Adrián</h5>
<h5>VEGA, María Soledad</h5>
<h5>VILLANUEVA IJANO, José Manuel</h5>
<h5> PORTILLO, Ana María</h5>
<h5><strong>Grupo de apoyo</strong></h5>
<h5>MEDINA, Melina Andrea</h5>
<h5>PONTORIERO, Ana Cristina</h5>
<h5>VERA, Nadia Pamela Soledad</h5>
<h5>TELLO PERALTA, Leonardo Gonzalo</h5>
<h5>CARRIZO, Federico Germán</h5>
<h5>FERNANDEZ, Ruben Alejandro</h5>
<app-proyectos-de2018a2019-p1></app-proyectos-de2018a2019-p1>

<h2>Las prácticas de enseñanza en la carrera: Intérprete musical del Nivel Pre-universitario ofrecida por el Departamento de Música de la FFHA - UNSJ.</h2>
<h2>Un estudio cualitativo desde la dimensión didáctica y epistemológica.</h2>
<h5><strong>Directora:</strong>Mag. Stella Maris MAS</h5>
<h5>masstella@hotmail.com</h5>
<h5><strong>Co-directora:</strong>Esp. Prof. María Teresa BLANQUER</h5>
<h5>marite_b@yahoo.com.ar</h5>
<h5><strong>Integrantes:</strong></h5>
<h5>QUIROGA TELLO, Graciela Mirta Evangelina</h5>
<h5>PEDROZO DE LA VEGA, Romina Alejandra</h5>
<h5>MORENO PALACIOS, Alejandra Lucía</h5>
<app-proyectos-de2018a2019-p2></app-proyectos-de2018a2019-p2>

<h2>El tiempo en la experiencia musical: su vivencia y su significado.
    Implicancias pedagógicas</h2>
<h5><strong>Directora:</strong>Mag. Gabriela Alicia ORTEGA</h5>
<h5>gabalortega@yahoo.com.ar</h5>
<h5><strong>Co-directora:</strong>Prof. María Inés GRAFFIGNA</h5>
<h5>mariainesgraffigna@yahoo.com.ar</h5>
<h5><strong>Integrantes:</strong></h5>
<h5>OVIEDO, María Isabel</h5>
<h5>CELAYES POLIZOTO, Carlos Mauricio</h5>
<h5>SILVA, Carina Susana</h5>
<h5>FERNÁNDEZ, Mirta Adriana</h5>
<app-proyectos-de2018a2019-p3></app-proyectos-de2018a2019-p3>

<h2>MÚSICA DE MUJERES</h2>
<h2>La obra de las compositoras Elsa Calcagno y Lia Cimaglia Espinosa.</h2>
<h5><strong>Directora:</strong>Mg. Flavia CARRASCOSA</h5>
<h5>flaviacarpianista@gmail.com</h5>
<h5><strong>Co-directora:</strong>Lic. Alberto Sebastián TRIMELITI</h5>
<h5>atrimeliti@gmail.com</h5>
<app-proyectos-de2018a2019-p4></app-proyectos-de2018a2019-p4>

<h2>Encuadre y reformulación organizacional del Nivel Preuniversitario del Departamento de Música de la FFHA y Artes para su inclusión en la Estructura orgánico-funcional de la UNSJ</h2>
<h5><strong>Directora:</strong>Prof. César Alejandro SÁNCHEZ</h5>
<h5>cesaralejandrosc@gmail.com</h5>
<h5><strong>Co-directora:</strong>Mag. Stella Maris MAS</h5>
<h5>masstella@hotmail.com</h5>
<h5><strong>Integrantes:</strong></h5>
<h5>BLANCO, Guillermo Miguel</h5>
<h5>DEL CID, Aída Fátima</h5>
<h5>RECIO TEJADA, Fernando Andrés</h5>
<h5>CARRIZO, Víctor Paulo</h5>
<h5>ARECHE, Ismael Alfredo</h5>
<h5>PONTORIERO, Gladys Cristina</h5>
<h5>BARROS, Guillermo</h5>
<h5>VILLAGRA, Laura</h5>
<h5>ANDINO. Gerardo Ariel</h5>
<h5>CELAYES, Mauricio</h5>
<h5>RECIO, Fernando</h5>
<h5>OLGUÍN, Juan José</h5>
<h5>SILVA, Carina Susana</h5>
<h5>GRÉGORI, Vicente</h5>
<h5>ACIAR, Roxana</h5>
<h5>LECETA, Andrea</h5>
<h5>BARRIONUEVO, Nora</h5>
<app-proyectos-de2018a2019-p5></app-proyectos-de2018a2019-p5>

<h2>CREACIÓN DE UN ESPACIO DE PRODUCCIÓN Y EJECUCIÓN MUSICAL</h2>
<h2> Aprobado por CICITCA, Resol.21/18</h2>
<h5><strong>Directora:</strong>Mag. Patricia BLANCO</h5>
<h5>pblanco788@hotmail.com</h5>
<h5><strong>Co-directora:</strong>Mag. Mónica Graciela LUCERO</h5>
<h5>moni_lucero@hotmail.com</h5>
<h5><strong>Integrantes:</strong></h5>
<h5>BLANCO, Guillermo Miguel</h5>
<h5>DEL CID, Aída Fátima</h5>
<h5>RECIO TEJADA, Fernando Andrés</h5>
<h5>CARRIZO, Víctor Paulo</h5>
<h5>ARECHE, Ismael Alfredo</h5>
<h5>PONTORIERO, Gladys Cristina</h5>
<h5>BARROS, Guillermo</h5>
<h5>VLLAGRA, Laura</h5>
<h5>ANDINO. Gerardo Ariel</h5>
<app-proyectos-de2018a2019-p6></app-proyectos-de2018a2019-p6>

<h2>Orquesta de guitarras con instrumentos solistas</h2>
<h5><strong>Directora:</strong>Prof. Juan José OLGUÍN</h5>
<h5>juanjoseolguink@hotmail.com</h5>
<app-proyectos-de2018a2019-p7></app-proyectos-de2018a2019-p7>

<h2>Método de flauta: Tomo III. Nivel Medio</h2>
<h2>Un Enfoque Alternativo</h2>
<h5><strong>Directora:</strong>Prof. Renato LIGUTTI</h5>
<h5>ligutti@speedy.com.ar</h5>
<h5><strong>Co-directora:</strong>Mg. Carlos Florit SERVETTI</h5>
<h5>carloseflorit@hotmail.com</h5>
<app-proyectos-de2018a2019-p8></app-proyectos-de2018a2019-p8>
