<div class="d-flex justify-content-start pTopBot"> <span class="sangria"></span>
  El GEM es una sub-unidad perteneciente al Departamento de Música creado por consenso de investigadores y creadores
  del Departamento de Música en 1994. La Facultad de Filosofía, Humanidades y Artes avaló su fundación por Resolución
  Nº 090/94-CD. Su fundación satisfizo la necesidad de dar un marco institucional estable y reconocido a los proyectos
  existentes. Entonces algunas investigaciones se ejecutaban como parte del Programa de Investigación Musicológica La
  música en San Juan de la Cátedra Historia de la Música, del Departamento de Música de la Facultad, dirigido por la
  Profesora Titular Fátima Graciela Musri; mientras que algunos compositores.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  El Gabinete cuenta con el Programa de Investigación y Creación en Ciencias y Artes Musicales, avalado por Res. N°
  10/06-CD-FFHA, que promociona la investigación y creación en todos los campos de la música. Contiene dos líneas
  fundantes de nuevos proyectos acreditados en la Universidad y en el Programa Nacional de Incentivos:
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Línea de investigación científica: con investigaciones en Musicología histórica, Etnomusicología, Educación Musical,
  Musicoterapia y Psicología de la Música.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Línea de creación artística: con producción de obras originales, de arreglos, de versiones e interpretación musical
  con instrumentos acústicos.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Actualmente el GEM define un espacio de estudio que cuenta con recursos idóneos que integran proyectos de investigación y creación. Contiene a docentes-investigadores y docentes-creadores en actividad, alumnos en calidad de ayudantes, adscriptos, becarios, tesistas y personal de apoyo docente.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Es también tarea del Gabinete asesorar en la planificación, ejecución y seguimiento de los proyectos. Se llevan a cabo actividades de formación de recursos humanos a través de asesoramiento metodológico en jornadas, reuniones científicas y artísticas, congresos, cursos y otros.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  En el Gabinete se han desarrollado proyectos PICTO con financiamiento de la Agencia Nacional para la Promoción de la Ciencia y la Técnica, obtenidos por méritos.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Ha sentado las bases para la creación de un Archivo Documental de la actividad musical en San Juan desde fines del siglo XIX hasta la actualidad, que reúne partituras, grabaciones, fotografías y documentos varios.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Sistemáticamente el GEM cumple tareas de custodia y préstamo de equipamiento, informes de proyectos, tesis de grado vinculadas a proyectos y un fondo de libros adquiridos con los subsidios de proyectos y donaciones.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  Sus proyectos han marcado una tendencia con proyección nacional e internacional. Mantienen una permanente presencia en conferencias, congresos y publicaciones, conciertos en épocas de normalidad sanitaria, así como con la firma de convenios con instituciones provinciales y nacionales.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  El GEM mantiene vínculos con otras unidades de creación artística, universidades, asociaciones profesionales y redes de investigadores que incrementan sus posibilidades de desarrollo.
</div>
<div class="d-flex justify-content-start pTopBot"><span class="sangria"></span>
  El GEM brinda apoyo a los compositores para la difusión de sus creaciones musicales, y se constituye en un importante espacio de discusión de temas vinculados a la investigación y creación artística
</div>
