<div class="container text-center _titulos1 _pagPrincipal">
  <div class="row">
      <div class="col">
          <label class="labelTitulo1" for="idRadioT1-1"><h3>¿Qué es el Instituto?</h3></label>
          <input class="dNone" type="radio" name="radioTitulos1" id="idRadioT1-1">
          <div class="dNone" id="idTitulo1-1">
              <div class="col">
                  <div class="_contenidos1">
                      <app-pag-principal-que-es-iem></app-pag-principal-que-es-iem>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT1-2"><h3>Autoridades</h3></label>
          <input class="dNone" type="radio" name="radioTitulos1" id="idRadioT1-2">
          <div class="dNone" id="idTitulo1-2">
              <div class="col">
                  <div class="_contenidos1">
                      <app-pag-principal-autoridades></app-pag-principal-autoridades>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT1-3">
              <h3>Objetivos del Instituto</h3></label>
          <input class="dNone" type="radio" name="radioTitulos1" id="idRadioT1-3">
          <div class="dNone" id="idTitulo1-3">
              <div class="col">
                  <div class="_contenidos1">
                      <app-pag-principal-objetivos></app-pag-principal-objetivos>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT1-4">
              <h3>Agenda</h3></label>
          <input class="dNone" type="radio" name="radioTitulos1" id="idRadioT1-4">
          <div class="dNone" id="idTitulo1-4">
              <div class="col">
                  <div class="_contenidos1">
                      <app-pag-principal-agenda></app-pag-principal-agenda>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT1-5"><h3>Investigadores</h3></label>
          <input class="dNone" type="radio" name="radioTitulos1" id="idRadioT1-5">
          <div class="dNone" id="idTitulo1-5">
              <div class="col">
                  <div class="_contenidos1">
                      <app-pag-principal-investigadores></app-pag-principal-investigadores>
                  </div>
              </div>
          </div>

          <label class="labelTitulo1" for="idRadioT1-6"><h3>Jornadas</h3></label>
          <input class="dNone" type="radio" name="radioTitulos1" id="idRadioT1-6">
          <div class="dNone" id="idTitulo1-6">
              <div class="col">
                  <div class="_contenidos1">
                      <app-pag-principal-jornadas></app-pag-principal-jornadas>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
